#sticker {
    position: relative;
    height: auto;
    width: 100%;

}

.left{
    position: absolute;
    left: 0;
    width: 200;
}
.right {
    position: absolute;
    left: 18%;
}

#sticky{
    position: fixed;
    z-index: 100;
    
}

#container {
    position: relative;
	width: 70%;
    margin: auto;
    right: 0;
}

.block {
  width: 50%;
  float: left;
  text-align: center;
}

img {
	display: block;
	margin: auto;
}